body {
    text-align: center;



}

img {
    height: 310px;
    width: 300px;
    border-radius: 50%;
}

#name {
    background: linear-gradient(#a1aff0 0%, #a7f2f2 100%);
    padding-top: 100px;
    font-size: 50px;
}

#hobby {
    background-color: darkmagenta;
    font-size: 50px;
}

#text {
    font-size: 50px;
    color: aquamarine;
    background-color: cornflowerblue;
    padding-bottom: 100px;
}

#work {
    font-size: 55px;
    background-color: forestgreen;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-bottom: 100px;
    
}

#inspiration {
    background-color: coral;
    font-size: 45px;
    padding-bottom: 100px;
    padding-top: 100px;
    margin-bottom: 100px;
    
}
#contact{
    background-color: cyan;
    padding-top: 100px;
}

.line {
    height: 6px;
    background-color: #000;
    width: 200px;
    margin: 8px auto;

}

.menu {
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    font-family: monospace;
    list-style: none;
    display: inline;
    color: black;
    position: fixed;
}


.link {
    float:left;
    color:blue;
    background-color: dodgerblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
}

.link:hover {
    background-color: azure;
}

img:hover {
    transform: scale(0.9);
}
